body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.encabezado {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.encabezado.tareas {
    text-align: left;
}

form {
    display: flex;
}

form input {
    flex: 2;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
}

form button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

html, body {
    height: 99%;
}

.par {
    color: blue;
}

.impar:hover {
    color: blue;
}

.par:hover {
    color: black;
}

.foot {
    text-align: center;
    padding: 10px 0px;
    margin-top: auto;
}
