body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.encabezado.tareas {
    text-align: left;
}

.formulario {
    width: 55%;
    height: 24px;
    border-radius: 10px;
}

.envio {
    border-radius: 10px;
    width: 40%;
    height: 30px;
    float: right;
}

.envio:active {
    background-color: rgb(196, 196, 174);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.foot {
    text-align: center;
    padding: 10px 0px;
    margin-top: auto;
}
